<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Create - Assignment Project</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar menu navbar-expand-lg">
                        <h2><a class="navbar-brand" href="/">Assignment Project</a></h2>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="menulist collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto menu-list">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link menuActive" href="/file-create">File Create</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/file-upload">File Upload</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact</a>
                                </li>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/about">About</a>
                                </li>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container mb-3">
        <section id="file-create">
            <h2 class="text-primary text-center mt-5">File Create</h2>
            <p class="text-center ">Create a demo file in the node app</p>

            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-6">

                    <div class="alert" role="alert">

                    </div>
                    <div class="form-group">
                        <label for="fileName">File Name <small>(Supported extensions: txt, html, css, js,
                                php)</small></label>
                        <input type="text" class="form-control" id="fileName" placeholder="Enter file name">
                    </div>
                    <div class="form-group">
                        <label for="fileContent">Data for file</label>
                        <input type="text" class="form-control" id="fileContent" placeholder="Enter file data">
                    </div>
                    <button type="button" id="createFile" onclick="createFiles()" class="btn btn-primary mt-1">Create
                        File</button>

                </div>
            </div>
        </section>

        <section id="fileList">
            <h2 class="text-primary text-center mt-5">List of created File</h2>
            <p class="text-center ">All created file are here in the table</p>
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-6">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Number</th>
                                <th scope="col">File Name</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let file_number=1; %>
                                <% files.forEach(file=> { %>
                                    <tr>
                                        <td>
                                            <%= file_number %>
                                        </td>
                                        <td>
                                            <%= file %>
                                        </td>
                                        <td>
                                            <button class="btn btn-warning" id="deleteBtn" data-file="<%= file %>"
                                                type="button">Delete</button>
                                            <a class="btn btn-primary" href="../files/<%= file %>">View</a>
                                        </td>
                                    </tr>
                                    <% file_number++; %>
                                        <% }); %>
                        </tbody>
                    </table>


                </div>
            </div>

        </section>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6  col-md-4 col-lg-4">
                    <h3>About Us</h3>
                    <p>Our mission is to provide the best education opportunities for university students, job holders,
                        job seekers, and freelancers who want to learn or develop skills from the best instructors.</p>
                </div>
                <div class="col-12 col-sm-6  col-md-4 col-lg-4">
                    <h3>Contact Us</h3>
                    <ul>
                        <li>Email: mdkamalhosennn@gmail.com</li>
                        <li>Phone: +9766425523</li>
                        <li>Address: Doha, Qatar</li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6  col-md-4 col-lg-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                </div>
            </div>
            <p class="text-center m-2">Copyright ℗ 2024 by XovenTech Dev</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script>

        let notices = document.querySelector('.alert');

        let deleteBtn = document.getElementById('deleteBtn');


        deleteBtn.addEventListener('click', async () => {
            deleteData();
        });

        async function deleteData() {
            let fileToDelete = deleteBtn.getAttribute('data-file');
            const url = '/fileDelete?fileName=' + fileToDelete;

            const fetchData = await fetch(url);
            let data = await fetchData.json();

            if (data.status == 'success') {
                notices.innerHTML = `<div class="alert alert-success">${data.text}</div>`;
                location.reload();
            } else {
                notices.innerHTML = `<div class="alert alert-danger">${data.text}</div>`;
            }
        }


        function createFiles() {
            let fileName = document.querySelector('#fileName').value;
            let fileContent = document.querySelector('#fileContent').value;

            if (fileContent === '' || fileName === '') {
                notices.innerHTML = 'Please fill all the fields';
                notices.classList.add('alert-warning');
                return;
            }

            fetch('/createFile', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    fileName: fileName,
                    fileContent: fileContent
                })
            })
                .then(res => res.json())
                .then(response => {
                    notices.textContent = response.text;
                    notices.classList.add('alert-' + response.status);
                    if (response.status == 'success') {
                        location.reload();
                    }
                })
                .catch(error => console.error('Error:', error));
        }


    </script>
</body>

</html>