:root {
    --app--primary--color: #3b79cf;
    --app--secondary--color: rgb(90, 30, 241);
    --app--solid--color: #b30f9d;
}


body {
    font-family: Tahoma, sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* background: linear-gradient(to right, rgb(0, 168, 523), #fff 35%, #e00a95); */
    /* background:
        linear-gradient(150deg, #ecedee, transparent 30%),
        linear-gradient(330deg, rgb(210, 206, 242), transparent 30%),
        linear-gradient(225deg, #fff0be, #fbdce7, #e2fae1, powderblue); */
        background: linear-gradient(to right, #80BCBD, #AAD9BB , #D5F0C1);

    animation: gradient 3s linear infinite;
}

@keyframes gradient {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
}




/* 
body {
    font-family: Tahoma, sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background:
        linear-gradient(150deg, #ecedee, transparent 30%),
        linear-gradient(330deg, rgb(210, 206, 242), transparent 30%),
        linear-gradient(225deg, #fff0be, #fbdce7, #e2fae1, powderblue);
        background: linear-gradient(to right, rgb(0, 168, 523), #fff 35%, #e00a95);

    animation: gradient 3s linear infinite;

}

@keyframes gradient {
    0% {background-position: 0% 75%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 70%;}
} */

p {
    font-size: 20px;
}

header {
    border-bottom: #679de82c solid 1px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menulist {
    justify-content: end;
}

.menu-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu-list a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px 8px;
    font-weight: 700;
    border: black solid 1px;
    border-radius: 5px;
    margin: 0 5px;
}

.menu-list a:hover {
    color: white;
    background-color: var(--app--primary--color);
}

.menu h2 a{
    font-size: 30px;
    font-weight: 700;
    color: var(--app--secondary--color);
    text-shadow: 
    0px 0px 50px var(--app--secondary--color);
}

.menu h2 a:hover {
    color:var(--app--primary--color);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--app--primary--color);
    color: white;
    padding: 10px 0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: var(--app--secondary--color);
}